.main {
  padding: 1rem 2rem;
  display: grid;
  align-content: space-between;
  gap: 2rem;
  background: url("../../../public/assets/GYM\ LOGO\ MALE\ FINAL.png");
  background-repeat: no-repeat;
  background-position: 500% 105%;
  background-size: 92%;
  min-height: inherit;
}
.routine__wrapper {
  max-width: 43rem;
  margin-inline: auto;
}

.faq_container {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  display: grid;
  gap: 1.5rem;
}

.faq_item {
  display: grid;
  gap: 0.75rem;
}

@media screen and (min-width: 768px) {
  .main {
    background-size: 500px;
    background-position: 100% 130%;
    max-width: 980px;
    margin: 0 auto;
  }
}
