/* IMPORTS */

@font-face {
  src: url("../public/fonts/agencyFB.ttf") format("truetype");
  font-family: Agency FB;
}
@font-face {
  font-weight: 400;
  src: local("Arial Narrow");
  src: url("../public/fonts/Arial\ Narrow.woff2") format("woff2");
  font-family: "Arial Narrow";
}

@font-face {
  font-weight: bold;
  src: local("Arial Narrow Bold");
  src: url("../public/fonts/Arial\ Narrow\ Bold.woff2") format("woff2");
  font-family: "Arial Narrow Bold";
}

/* VARIABLES */

:root {
  font-size: 16px;
  --primary-color: #d33434;
  --secondary-color: #1f2732;
  --background-color: #172028;
  --black-color: #181818;
  --grey-color: #8a8a8a;
  --white-color: #ffffff;
  --button-radius: 0.5rem;
  --headline-font: "agency fb", Agency FB, Helvetica, sans-serif;
  --main-font: "arial-narrow", arial-narrow, Arial, Helvetica, sans-serif;
}

/* GENERAL AND BASIC STYLING FOR TAGS */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100svh;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  background-color: var(--background-color);
  min-height: inherit;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb,
body:hover::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

h1 {
  margin: 0;
  font-size: clamp(3rem, 13vw, 5rem);
  line-height: 85%;
  letter-spacing: -2px;
}

h2 {
  margin: 0;
  font-size: clamp(2rem, 10vw, 3.5rem);
  letter-spacing: -2px;
}

h3 {
  margin: 0;
  font-size: clamp(1.5rem, 8.5vw, 2.9rem);
}

h4 {
  margin: 0;
  font-size: clamp(1.3rem, 6vw, 2rem);
}

h5 {
  margin: 0;
  font-size: clamp(1.2rem, 4vw, 1.8rem);
}

h6 {
  margin: 0;
}

p {
  margin: 0;
  font-family: var(--main-font);
}

label {
  margin: 0;
  color: var(--white-color);
  line-height: 120%;
  font-family: var(--main-font);
}

input {
  height: 56.38px;
}

hr {
  width: 100%;
}

p,
li,
.primary-button span,
.primary-button.primary-button_red span {
  font-size: clamp(1rem, 2vw, 1.05rem);
}

button,
a.primary-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  border-radius: var(--button-radius);
  padding: 1rem;
  width: 100%;
  height: 56.38px;
  color: var(--white-color);
  font-weight: bold;
  font-family: var(--main-font);
  text-decoration: none;
}

@media screen and (min-width: 490px) {
  .primary-button {
    max-width: 18rem !important;
  }
}

@media screen and (min-width: 980px) {
  .logo--sm.header__logo {
    width: 3.7rem;
    height: 3.7rem;
  }
}

@media screen and (max-height: 980px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p,
  li,
  .primary-button span,
  .primary-button.primary-button_red span {
    font-size: 0.95rem;
  }
  .text--desc {
    font-size: 0.85rem;
  }

  button,
  a.primary-button,
  .primary-button {
    padding: 0.8rem;
    height: 48.38px;
  }
}

/* ------------------- CSS CLASSES ------------------- */

/* GENERAL CLASSES */

.opacity-2 {
  opacity: 20%;
}

.text--desc {
  font-size: 0.875rem;
}

.text-desc__sm {
  font-size: 0.8rem;
}

.inline {
  padding-right: 0 !important;
  padding-left: 0.2rem !important;
  text-decoration: underline;
}

.heading {
  color: var(--white-color);
  font-weight: 400;
  font-family:
    "agency fb",
    Agency FB,
    Helvetica,
    sans-serif;
}

.text--body {
  margin: initial;
  color: var(--grey-color);
  font-weight: 400;
  font-family: var(--headline-font);
}

.paragraph {
  margin: 0;
  line-height: 120%;
  font-family: var(--main-font);
}

.paragraph--white {
  color: #dcdcdc;
}

.label--grey {
  color: #dcdcdc;
}

.paragraph--grey {
  color: var(--grey-color);
  font-family: var(--main-font);
}

.text--desc {
  font-size: clamp(0.875rem, 1vw, 1rem);
}

.v-align-gap-1 {
  display: grid;
  gap: 1rem;
}

.v-align-gap-005 {
  display: grid;
  gap: 0.5rem;
}

.align-center {
  display: grid;
  justify-items: center;
}

.text-center {
  text-align: center;
}

.primary-button {
  transition:
    transform 150ms ease-in-out,
    box-shadow 100ms linear;
  will-change: transform;
  margin-inline: auto;
  box-shadow: 0px 3px 0px 2px rgb(131 131 131 / 20%);
  border: none;
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 100%;
  max-width: 100%;
  max-height: 56.38px;
}

.primary-button:hover,
.primary-button:active {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  box-shadow: 0px 6px 0px 2px rgb(131 131 131 / 20%);
}
.primary-button.primary-button_red {
  background-color: var(--primary-color);
}

.primary-accent {
  transition: color 1500ms linear;
  will-change: contents;
  color: #f5f5f5;
}
.primary-accent.setAnimation {
  color: var(--primary-color);
}

.colTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.inline {
  display: inline !important;
}

.list--container-x,
.list--container-x- {
  display: grid;
  gap: 0.6rem;
  margin: 0 0 0 1rem;
  padding: 0;
}
.list--container-x- {
  margin: 0 !important;
}
.list--container-x li,
.list--container-x- li {
  display: flex;
  align-items: center;
  list-style: none;
}

.list--container-x li::before,
.list--container-x- li::before {
  display: block;
  margin-right: 1rem;
  background: url("../public/assets/list-style.png");
  background-position: center;
  background-size: 1.2rem;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  content: "";
}

.m-top-1-5 {
  margin-top: 1.5rem;
}
.m-top-2 {
  margin-top: 2rem;
}

.price__heading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: 800;
  font-size: 4rem;
}

.price__heading span {
  margin-top: 8px;
  margin-right: 0.4rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.text-underline {
  text-decoration: underline;
}

.form--block-container .primary-button {
  margin-top: 0.5rem;
}

.form--payment-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form--payment-container .primary-button,
.form--payment-container div:nth-of-type(1) {
  grid-column: 1/-1;
}
.form--payment-card {
  display: grid;
  place-content: center;
  border: 1px solid var(--grey-color);
  border-radius: var(--button-radius);
  background-color: #1f2732;
  padding: 0.5rem;
  width: 50%;
}

.sm__lg_width {
  margin-inline: auto;
  width: 100%;
  max-width: 550px;
}
.sm_sm__lg_width {
  margin-inline: auto;
  width: 100%;
  max-width: 600px;
}

.pointer {
  cursor: pointer;
}

/* LOGOS AND ICONS */

.logo--sm {
  width: 2.5rem;
  height: 2.5rem;
}

.header__logo {
  width: 3rem;
  height: 3rem;
}

.icon--sm {
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  color: var(--grey-color);
}

.icon--m {
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-left: 0;
}

.payment--form-icon {
  color: var(--grey-color);
}
.stripe--logo {
  width: auto;
  height: 3rem;
}
.paypal--logo {
  width: 2rem;
  height: 3rem;
}

/* NAVIGATION BAR */

.nav_link {
  display: grid;
  place-content: center;
  padding: initial;
  width: auto;
  max-width: initial;
  height: 100%;
}

.sign_out-button {
  cursor: pointer;
  box-shadow: none;
  border: none;
  background-color: var(--secondary-color);
  padding: 1rem;
  width: initial;
  max-width: initial;
  color: inherit;
}

/* HOME PAGE */

.main_home {
  display: grid;
  align-content: space-between;
  gap: 2rem;
  background: url("../public/assets/jonh-crop.png");
  background-position: 65%;
  background-size: 630px;
  background-repeat: no-repeat;
  padding: 2rem;
  min-height: inherit;
}

@media screen and (min-width: 768px) {
  .main_home {
    margin: 0 auto;
    background-position: 30%;
    background-size: contain;

    max-width: 980px;
  }
}
@media screen and (min-height: 930px) and (max-width: 770px) {
  .main_home {
    background-size: cover;
  }
}

/* PURCHASE, LOGIN, REGISTER AND RESET-PASSWORD PAGES */

.main_register_login {
  display: grid;
  align-content: space-between;
  gap: 1.2rem;
  padding: 1rem 2rem;
  min-height: inherit;
}

.main_reset_password {
  display: grid;
  align-content: start;
  gap: 1.2rem;
  padding: 1rem 2rem;
  min-height: inherit;
}

.main_purchase {
  display: grid;
  align-items: baseline;
  gap: 2rem;
  margin-inline: auto;
  padding: 1rem 2rem;
  max-width: 980px;
  min-height: inherit;
}

.purchase_wrapper {
  display: grid;
  align-content: flex-start;
  gap: 1.2rem;
}

.form_item {
  display: grid;
  gap: 0.75rem;
}

.form_items_desc {
  display: grid;
  gap: 0.5rem;
}

.form_input {
  outline-color: var(--primary-color);
  border: none;
  border-radius: var(--button-radius);
  background: var(--secondary-color);
  padding: 1.2rem 1rem;
  width: 100%;
  max-width: 100%;
  color: var(--white-color);
}

.form_input::placeholder {
  color: var(--grey-color);
}

.form_password_field {
  position: relative;
  width: 100%;
}
.form_password_input {
  outline-color: var(--primary-color);
  border: none;
  border-radius: var(--button-radius);
  background: var(--secondary-color);
  padding-right: 3rem;
  padding: 1.2rem 1rem;
  width: 100%;
  color: var(--white-color);
}
.form_password_visibility {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.2rem;
  height: 1.2rem;
  color: var(--grey-color);
}

.form_error {
  color: var(--primary-color);
}

.form_keep_loggedin {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
  height: initial;
}

@media screen and (min-width: 768px) {
  .main_register_login,
  .main_reset_password,
  .purchase_wrapper {
    margin: 0 auto;
    max-width: 980px;
  }
}

/* PLANS PAGE */

.main_plans {
  display: grid;
  align-items: baseline;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 980px;
  min-height: inherit;
}
.plan_type_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}

.plan_card {
  display: grid;
  position: relative;
  justify-content: center;
  gap: 0.5rem;
  box-shadow: 0px 3px 0px 2px rgb(131 131 131 / 20%);
  border-radius: 0.4rem;
  background-color: #1f2732;
  padding: 1rem;
}

.plans_button_container {
  position: absolute;
  top: 50%;
  right: -1.4rem;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  background: #d33434;
  padding: 0;
  width: 2.8rem;
  height: 2.8rem;
}
.plans_icon_sm {
  width: 2rem;
  height: 2rem;
  color: white !important;
}

.plans_icon_sm:hover {
  animation: wobble 2s ease infinite;
}

.plans_trial {
  transition: ease;
  transition-duration: 1s;
}

.plans_trial:hover {
  color: #d33434;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}

@media screen and (min-width: 768px) {
  .plan_type_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .plan_type_container h3 {
    grid-column: 1/-1;
  }
  .main_plans p {
    grid-column: 1/-1;
  }
}

/* FAQ PAGE */

.main_faq {
  display: grid;
  position: relative;
  align-items: baseline;
  background: url("../public/assets/Logo-Opacity.png");
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  min-height: inherit;
}

@media screen and (min-width: 768px) {
  .main_faq {
    margin: 0 auto;
    background-position: center;
    background-size: 500px;
    max-width: 980px;
  }
}

.faq_container {
  display: grid;
  gap: 1.5rem;
  margin: 2.25rem auto;
  width: 100%;
  max-width: 550px;
}

.faq_item {
  display: grid;
  gap: 0.75rem;
}

/* ROUTINE AND PREVIEW PAGES */

.main_routine {
  display: grid;
  align-content: space-between;
  gap: 2rem;
  background: url("../public/assets/GYM\ LOGO\ MALE\ FINAL.png");
  background-position: 500% 105%;
  background-size: 92%;
  background-repeat: no-repeat;
  padding: 1rem 2rem;
  min-height: inherit;
}

@media screen and (min-width: 768px) {
  .main_routine {
    margin: 0 auto;
    background-position: 100% 130%;
    background-size: 500px;
    max-width: 980px;
  }
}

/* EDITOR PAGE */

.main_editor {
  display: grid;
  align-items: baseline;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 980px;
  min-height: inherit;
}

.editor {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.whiteboard {
  background-color: white;
}

.whiteboard_date_picker {
  transition:
    box-shadow 200ms,
    border-color 200ms;
  box-sizing: content-box;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #30354a;
  padding: 8px 12px;
  color: #fff;
  font-size: 14px;
  line-height: 1.25;
  font-family: inherit;
}
.whiteboard_date_picker:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
.whiteboard_date_picker:focus {
  box-shadow: 0 0 0 3px rgba(33, 150, 243, 0.8);
  border-color: transparent;
}
.whiteboard_date_picker::placeholder,
.whiteboard_date_picker::-moz-placeholder {
  opacity: 1;
  color: rgba(255, 255, 255, 0.6);
}

.whiteboard_form_item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.75rem;
  margin: 20px 0;
}

.whiteboard_form_input {
  outline-color: #d33434;
  border: none;
  border-radius: 0.5rem;
  background: #1f2732;
  padding: 1.2rem 1rem;
  width: auto;
  height: auto;
  color: #f5f5f5;
}
.whiteboard_form_input::placeholder {
  color: #8a8a8a;
}

/* DASHBOARD PAGE */

.main_dashboard {
  display: grid;
  align-items: baseline;
  gap: 2rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 980px;
  min-height: inherit;
}

.cards_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: 0.5s ease-out;
  margin: 4rem 3rem;
  border: 2px solid #c3c6ce;
  border-radius: 20px;
  background: #f5f5f5;
  padding: 1.8rem;
  width: 190px;
  height: 254px;
  overflow: visible;
}

.card_details {
  display: grid;
  place-content: center;
  gap: 0.5em;
  height: 100%;
  color: black;
  text-align: center;
}

.card_draft {
  background: #1f2732;
}

.card_draft_details {
  color: #fff;
}

.card_button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 125%);
  opacity: 0;
  transition: 0.3s ease-out;
  border: none;
  border-radius: 1rem;
  background-color: #d33434;
  padding: 0.5rem 1rem;
  width: 60%;
  color: #fff;
  font-size: 1rem;
}

.card_text_body {
  color: rgb(134, 134, 134);
}

.card_text_title {
  font-weight: bold;
  font-size: 1.5em;
}

.card:hover {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
  border-color: #d33434;
}

.card:hover .card_button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card_delete_button {
  position: absolute;
  fill: #d33434;
  top: 20px;
  right: 20px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.card_delete_button:hover {
  transform: scale(1.25);
}
