@font-face {
  font-family: Agency FB;
  src: url("../public/fonts/agencyFB.ttf") format("truetype");
}
@font-face {
  font-family: "Arial Narrow";
  src: local("Arial Narrow");
  src: url("../public/fonts/Arial\ Narrow.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Arial Narrow Bold";
  src: local("Arial Narrow Bold");
  src: url("../public/fonts/Arial\ Narrow\ Bold.woff2") format("woff2");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
}

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

body:hover::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

:root {
  font-size: 16px;
  --black-color: #0f0f0f;
  --white-color: #f5f5f5;
  --grey-color: #8a8a8a;
  --button-radius: 0.5rem;
  --primary-color: #d33434;
  --secondary-color: #1f2732;
  --background-color: #172028;
}
.body--wrapper {
  margin: 0 auto;
  min-height: inherit;
  background-color: var(--background-color);
}
.logo--sm {
  height: 2.5rem;
  width: 2.5rem;
}
.logo--sm.header__logo {
  height: 3rem;
  width: 3rem;
}
.opacity-2 {
  opacity: 20%;
}
.icon--sm {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--grey-color);
  cursor: pointer;
}
.text--desc {
  font-size: 0.875rem;
}

.text-desc__sm {
  font-size: 0.8rem;
}

.inline {
  padding-right: 0 !important;
  padding-left: 0.2rem !important;
  text-decoration: underline;
}

.heading {
  font-family: "agency fb", Agency FB, Helvetica, sans-serif;
  color: var(--white-color);
  font-weight: 400;
}

.text--body {
  font-family: "agency fb", Agency FB, Helvetica, sans-serif;
  color: var(--grey-color);
  font-weight: 400;
  margin: initial;
}

.paragraph {
  font-family: "arial-narrow", arial-narrow, Arial, Helvetica;
  margin: 0;
  line-height: 120%;
}
p {
  font-family: "arial-narrow", arial-narrow, Arial, Helvetica;
}
.paragraph--white {
  color: #dcdcdc;
}
.label--white {
  color: var(--white-color);
}
.label--grey {
  color: #dcdcdc;
}
.icon--m {
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-left: 0;
}
.paragraph--grey {
  color: var(--grey-color);
  font-family: "arial-narrow", arial-narrow, Arial, Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: clamp(3rem, 13vw, 5rem);
  letter-spacing: -2px;
  line-height: 85%;
}
h2 {
  font-size: clamp(2rem, 10vw, 3.5rem);
  letter-spacing: -2px;
}
h3 {
  font-size: clamp(1.5rem, 8.5vw, 2.9rem);
}
h4 {
  font-size: clamp(1.3rem, 6vw, 2rem);
}
h5 {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
}
p,
li,
.primary-button span,
.primary-button.primary-button_red span {
  font-size: clamp(1rem, 2vw, 1.05rem);
}
.text--desc {
  font-size: clamp(0.875rem, 1vw, 1rem);
}
.v-align-gap-1 {
  display: grid;
  gap: 1rem;
}
.v-align-gap-005 {
  display: grid;
  gap: 0.5rem;
}
.align-center {
  display: grid;
  justify-items: center;
}

.text-center {
  text-align: center;
}
button,
a.primary-button {
  font-family: "arial-narrow-bold", arial-narrow-bold, arial narrow bold, Arial;
  font-weight: bold;
  color: var(--white-color);
  display: flex;
  gap: 0.8rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: var(--button-radius);
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  height: 56.38px;
}
input {
  height: 56.38px;
}
.sign__out-button {
  cursor: pointer;
  padding: 1rem;
  width: initial;
  max-width: initial;
  background-color: var(--secondary-color);
  color: inherit;
  border: none;
  box-shadow: none;
}
.primary-button {
  border: none;
  background-color: var(--secondary-color);
  padding: 1rem;
  max-height: 56.38px;
  box-shadow: 0px 3px 0px 2px rgb(131 131 131 / 20%);
  transition: transform 150ms ease-in-out, box-shadow 100ms linear;
  will-change: transform;
  max-width: 100%;
  width: 100%;
  margin-inline: auto;
}

.primary-button:hover,
.primary-button:active {
  box-shadow: 0px 6px 0px 2px rgb(131 131 131 / 20%);
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}
.primary-button.primary-button_red {
  background-color: var(--primary-color);
}

.primary-accent {
  transition: color 1500ms linear;
  color: #f5f5f5;
  will-change: contents;
}
.primary-accent.setAnimation {
  color: var(--primary-color);
}

.colTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;
}

.inline {
  display: inline !important;
}

.list--container-x,
.list--container-x- {
  margin: 0 0 0 1rem;
  padding: 0;
  display: grid;
  gap: 0.6rem;
}
.list--container-x- {
  margin: 0 !important;
}
.list--container-x li,
.list--container-x- li {
  list-style: none;
  display: flex;
  align-items: center;
}

.list--container-x li::before,
.list--container-x- li::before {
  content: "";
  margin-right: 1rem;
  display: block;
  background: url("../public/assets/list-style.png");
  background-repeat: no-repeat;
  background-size: 1.2rem;
  height: 1.5rem;
  background-position: center;
  width: 1.5rem;
}

.m-top-1-5 {
  margin-top: 1.5rem;
}
.m-top-2 {
  margin-top: 2rem;
}

.price__heading {
  font-weight: 800;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.price__heading span {
  font-size: 1.5rem;
  margin-top: 8px;
  margin-right: 0.4rem;
  font-weight: 400;
}

.text-underline {
  text-decoration: underline;
}

.form--block-container .primary-button {
  margin-top: 0.5rem;
}

.form--payment-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

.form--payment-container .primary-button,
.form--payment-container div:nth-of-type(1) {
  grid-column: 1/-1;
}
.form--payment-card {
  width: 50%;
  padding: 0.5rem;
  border: 1px solid var(--grey-color);
  display: grid;
  place-content: center;
  border-radius: 0.5rem;
  background-color: #1f2732;
}
.payment--form-icon {
  color: var(--grey-color);
}
.stripe--logo {
  height: 3rem;
  width: auto;
}
.paypal--logo {
  width: 2rem;
  height: 3rem;
}

.sm__lg_width {
  max-width: 550px;
  width: 100%;
  margin-inline: auto;
}
.sm_sm__lg_width {
  max-width: 600px;
  width: 100%;
  margin-inline: auto;
}

.pointer {
  cursor: pointer;
}

@media screen and (min-width: 490px) {
  .primary-button {
    max-width: 18rem !important;
  }
}

@media screen and (min-width: 980px) {
  .logo--sm.header__logo {
    height: 3.7rem;
    width: 3.7rem;
  }
}

@media screen and (max-height: 980px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p,
  li,
  .primary-button span,
  .primary-button.primary-button_red span {
    font-size: 0.95rem;
  }
  .text--desc {
    font-size: 0.85rem;
  }

  button,
  a.primary-button,
  .primary-button {
    padding: 0.8rem;

    height: 48.38px;
  }
}
