.main {
  background: url("../public/assets/jonh-crop.png");
  background-position: 65%;
  background-repeat: no-repeat;
  background-size: 630px;
  min-height: inherit;
}
.main__wrapper {
  min-height: inherit;
  display: grid;
  align-content: space-between;
  gap: 2rem;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  .main {
    background-position: 30%;
    background-size: contain;
  }
  .main__wrapper {
    max-width: 980px;
    margin: 0 auto;
    background-size: cover;
  }
}
@media screen and (min-height: 930px) and (max-width: 770px) {
  .main {
    background-size: cover;
  }
}
