.main {
  display: grid;
  align-items: baseline;
  gap: 2rem;
  margin-inline: auto;
  padding: 1rem 2rem;
  max-width: 980px;
  min-height: inherit;
}

.register__wrapper {
  display: grid;
  align-content: flex-start;
  gap: 1.2rem;
}

@media screen and (min-width: 768px) {
  .register__wrapper {
    margin: 0 auto;
    max-width: 980px;
  }
}
