.main {
  padding: 1rem 2rem;
  display: grid;
  position: relative;
  background: url("../../../public/assets/Logo-Opacity.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: inherit;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .main {
    background-size: 500px;
    background-position: center;
    max-width: 980px;
    margin: 0 auto;
  }
}
